@font-face {
  font-family: Lato;
  src: url('fonts/Lato-Light.ttf');
}

@font-face {
  font-family: Lato-Thin;
  src: url('fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: Lato-ThinItalic;
  src: url('fonts/Lato-ThinItalic.ttf');
}
